.prev, .next {
  position: absolute;
  top: 30%;
  font-size: 30px;
  z-index: 1;
  cursor: pointer;
}

.next {
  right: 0;
}


@media (max-device-width: 480px){
  img{
    height:120px;
    width: 120px;
  }
}
